body {
  margin: 0;
}

.font--small--ligt {
  font-size: 18px;
  font-weight: lighter;
}

.font--small--bld {
  font-size: 16px;
  font-weight: bolder;
}

.font--big {
  font-size: 38px;
  font-family: monospace;
}

html {
  margin: 0;
}

.nav__ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  padding: 0;
}

.nav__list {
  display: flex;
  justify-content: space-evenly;
  flex: 1 500px;
  list-style-type: none;
}

.nav__item {
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
}

.nav__item:hover {
  color: rgba(0, 0, 0, 0.63);
}

.nav__li--black {
  background-color: black;
  color: White;
  cursor: pointer;
  border: 1px solid black;
}

.nav__li--black:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
}

.nav__li {
  padding: 15px;
  align-self: center;
}

.nav__ul .nav__li:first-child {
  font-size: 25px;
  font-weight: bolder;
}

.nav__burger {
  display: none;
  cursor: pointer;
}

.nav__burger div {
  width: 35px;
  height: 2px;
  background-color: black;
  margin: 6px 0;
}

/* *************POST - 1 *************************** */

.post-1__text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex: 1 400px;
  padding: 55px;
  height: 500px;
  box-sizing: border-box;
}

.post-1__pic {
  background-image: url("photos/post-1-pic.jpeg");
  flex: 3 500px;
  background-position: center;
  background-size: cover;
  height: 500px;
}

.post-1 {
  display: flex;
  flex-wrap: wrap;
  background: black;
  color: white;
}

/* **************************** POST  - 2 ****************** */

.post-2__text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex: 1 500px;
  padding: 55px;
  height: 500px;
  box-sizing: border-box;
}

.post-2__pic {
  background-image: url("photos/post-4-pic.jpg");
  flex: 1 400px;
  background-position: center;
  background-size: cover;
  height: 500px;
}

.post-2 {
  display: flex;
  flex-wrap: wrap;
}

/* **************************** POST  - 3 ****************** */

.post-3__text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex: 1 400px;
  padding: 55px;
  height: 500px;
  box-sizing: border-box;
}

.post-3__pic {
  background-image: url("photos/post-5-pic.jpg");
  flex: 3 500px;
  background-position: center;
  background-size: cover;
  height: 500px;
}

.post-3 {
  display: flex;
  flex-wrap: wrap;
}

/* **************************GALLERY************************************** */

.gallery {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  color: white;
}

.gallery .gallery__pic:nth-child(even) {
  color: black;
}

.gallery div {
  flex: 1 300px;
}

.gallery__pic {
  background-position: center;
  background-size: cover;
  height: 500px;
}

.gallery__text {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 450px;
  margin: 35px;
}

.gallery__link {
  padding-top: 25px;
  border-top: solid 1px rgb(184, 184, 184);
}

.gallery__pic--3 {
  background-image: url("photos/sf.jpg");
}

.gallery__pic--1 {
  background-image: url("photos/ny.jpg");
}

.gallery__pic--2 {
  background-image: url("photos/miami.jpg");
}

.gallery__pic--4 {
  background-image: url("photos/la.jpg");
}

/* **************************SECTION************************************** */

.section {
  margin: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;
  margin: 50px;
}

.section div {
  width: 300px;
  margin: 35px;
}

.section img {
  width: 50px;
  text-align: center;
}

/* ****************************FOOTER******************************** */

.footer {
  background: black;
  margin: 0;
  color: white;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 40px;
}

.footer__li:hover {
  color: rgb(163, 163, 163);
  cursor: pointer;
}

.footer__icons {
  margin-top: 30px;
}

.footer__li {
  margin: 5px;
}

.footer img {
  width: 35px;
}

.footer ul {
  list-style-type: none;
  padding: 0;
}

.footer__item {
  margin: 20px;
}

/* *****************MEDIA********************** */

@media screen and (max-width: 768px) {
  .nav__burger {
    display: block;
  }

  .nav__item {
    display: none;
  }
  .nav__li--black {
    display: none;
  }

  .nav__ul {
    justify-content: space-between;
  }
}

@media screen and (max-width: 916px) {
  .post-1__pic {
    order: -1;
  }

  .post-3__pic {
    order: -1;
  }
}

@media screen and (max-width: 375px) {
  .footer {
    text-align: center;
  }
}
